@import url("hhtps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(gs.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.616)), url("gs.jpg");
}


.wp {
    width: 420px;
    background: #ffffff1f;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: rgba(0, 0, 0, 0.603) 0 0 10px;
    color: #fff;
    border-radius: 10px;
    padding: 25px 35px;
}

.wp h1 {
    font-size: 36px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.wp .desc {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #ffffff;
}

.wp .uc {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.uc input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.uc input::placeholder {
    color: #ffffff;
}

.wp .butt {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.wp .butt:hover {
    background: #000;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.wp .guest {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
}


.wp .guest:hover {
    text-decoration: underline;
}

.wp .uc {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.uc input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.uc input::placeholder {
    color: #fff;
}

.uc i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wp .butt {
    width: 100%;
    height: 45px;
    transform: translateY(-10px);
    background: #fff;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wp .butt:hover {
    background: #333;
    color: #fff;
}

.wp .butt:active {
    transform: scale(.98);
}

